body{
    overflow-x: hidden;
}

p{
    margin: 0;
    align-items: center;
    text-align: center;
}

.navHeader{
    position: fixed;
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: bisque;
}

.navButtons{
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.navButton{
    margin: 10px;
}

.navLogo{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    float: left;
}

.Temporary{
    height: 10vh;
}

.FirstBlockHomePage{
    height: 90vh;
    width: 100vw;
    background-color: saddlebrown;
}

.SecondBlockHomePage{
    height: 90vh;
    width: 100vw;
    background-color: chartreuse;
}

.NiceBackgroundImage{
    background-image: url("photos/landscape.jpg");
    width: 100vw;
    height: 50vh;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    font-size: 70px;
    color: darkgreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.ThirdBlockHomePage{
    height: 90vh;
    width: 100vw;
    background-color: aqua;
}
